on: [pull_request]
name: Test
jobs:
  test:
    strategy:
      max-parallel: 1
      matrix:
        go-version: [1.16.x, 1.17.x, 1.18.x]
        platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Checkout source codes
        uses: actions/checkout@v3
      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go-version }}
      - name: Test client with nexus3 instance
        env:
          NEXUS3_LICENSE_B64_ENCODED: ${{ secrets.NEXUS3_LICENSE_B64_ENCODED }}
          AZURE_STORAGE_ACCOUNT_KEY: ${{ secrets.AZURE_STORAGE_ACCOUNT_KEY }}
        run: |
          echo "${NEXUS3_LICENSE_B64_ENCODED}" | base64 -d > scripts/license.lic
          make start-services

          test -s scripts/license.lic || export SKIP_PRO_TESTS="true"
          if [[ -z ${AZURE_STORAGE_ACCOUNT_KEY} ]]; then export SKIP_AZURE_TESTS="true"; fi
          make test

          make stop-services
